@mixin heading {
    font-size: 4.26rem;
    font-family: 'Kagitingan';
    font-weight: 700;

    @media screen and (max-width: 768px) {
        font-size: 2.13rem;
      
    }

}
  
  @mixin white {
    color: #ffffff;
  }
  
  @mixin orange {
    color: #FF6E1F;
  }

  .scroll-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  
    .about_prize__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
      
      @media screen and (max-width: 768px) {
        position: absolute;
        object-position: bottom;
        object-fit: scale-down;
        
      }
    }
  
  }
  
    .about_prize {
    &__container {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      gap: 3.53rem;
    }
  
    &__logo {
      position: relative;
      z-index: 1;
     
    }
  
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      z-index: 1;
  
      &__heading {
        display: inline-flex;
        gap: 1rem;
        z-index: 1;
        flex-direction: column;
        line-height: 0.8;
  
        &--white {
          @include white;
          @include heading;
        }
  
        &--orange {
          @include orange;
          @include heading;
          font-size: 13.33rem;

          @media screen and (max-width: 768px) {
            font-size: 4.67rem;
          }
        }
      }
  
      &__description {
        display: ruby;
        max-width: 43.86rem;
        font-family: 'Jura', sans-serif;
        font-size: 2.4rem;
        font-weight: 400;
        @include white;
        text-wrap: wrap;

        @media screen and (max-width: 768px) {
            font-size: 1.33rem;
            max-width: 17.6rem;
          
        }

        &--bypass {
            font-size: 1.6rem;
            color: #D7CABE;
            font-family: 'Jura';
            max-width: 54.93rem;

            @media screen and (max-width: 768px) {
                font-size: 0.8rem;
                max-width: 17.6rem;
              
            }

        }
  
        &--highlight {
          font-weight: 700;
          @include white;
        }
      }
  
      &__description--hashtag-container {
        margin-top: 1.5rem;
      }
    }
  }
  

  .about_ps {
    &__container {
      display: flex;
      width: 90%;
      height: 100%;
      justify-content: center;
      align-items: center;
      gap: 3.53rem;
    }
  
    &__logo {
      position: relative;
      z-index: 1;
      // Customize sizes as necessary
      // max-width: 40.6rem;
      // max-height: 12.93rem;
    }
  
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      z-index: 1;
  
      &__heading {
        display: inline-flex;
        gap: 1rem;
        z-index: 1;
        flex-direction: column;
        line-height: 0.8;
  
        &--white {
          @include white;
          @include heading;
        }
  
        &--orange {
          @include orange;
          @include heading;
          font-size: 13.33rem;
        }
      }
  
      &__description {
        display: ruby;
        max-width: 54.93rem;
        font-family: 'Jura', sans-serif;
        font-size: 2.4rem;
        font-weight: 400;
        @include white;
        text-wrap: wrap;

        &--bypass {
            font-size: 1.6rem;
            color: #D7CABE;
            font-family: 'Jura';
            max-width: 54.93rem;

        }
  
        &--highlight {
          font-weight: 700;
          @include white;
        }
      }
  
      &__description--hashtag-container {
        margin-top: 1.5rem;
      }
    }
  }