
.sponsor-card {
    width: 85.33333rem;
    height: 33.33333rem;
    border-radius: 3.33333rem;
    border: 5px solid #FF6E1F;
    background: black;
    transition: all 0.3s;
    position: relative;
}

.sponsor-card:hover {
    background: #FF6E1F;
    border-color: #FF6E1F;
}

.sponsor-title {
    color: #E8E8E8;
    font-family: 'Kagitingan', sans-serif;
    font-size: 4.33rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sponsor-title.hover-title {
    color: black;
    text-align: left;
    margin-left: 4.2rem;
    margin-top: 3rem;
}

.sponsor-company {
    color: #000;
    text-align: center;
    font-family: 'Kagitingan', sans-serif;
    font-size: 4.33rem;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 4.2rem;
    margin-top: 3rem;
}

.sponsor-description {
    color: #000;
    font-family: 'Jura', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 51.53333rem;
    text-align: justify;
    padding-left: 4.2rem;
}

.sponsor-hover {
    display: flex;
    position: absolute;
    inset: 0;
    padding: 1rem;
    flex-direction: row; /* Keep it as row */
}

.sponsor-image {
    margin-top: 5rem; /* Adjust the margin as needed */
}

.sponsor-hover .flex-1 {
    display: flex;
    flex-direction: column; /* Keep flex-direction column for both columns */
    justify-content: flex-start; /* Align items to the top */
}

.sponsor-title {
    margin-top: 1rem; /* Space above the title */
}

.sponsor-title.hover-title {
    color: black;
    margin-top: 1rem; /* Add some margin from the description */
}

@media (max-width: 768px) {
    .sponsor-card {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .sponsor-hover {
        flex-direction: column;
        align-items: center;
    }

    .sponsor-title {
        font-size: 3rem;
    }

    .sponsor-company {
        font-size: 3rem;
    }

    .sponsor-description {
        width: 90%;
    }

    .social-icons {
        flex-direction: row;
    }
}
