@mixin orange {
    color: #FF6E1F;

}

@mixin white {
    color: #ffffff;
}

@mixin heading {
    font-size: 4.26rem;
    font-family: 'Kagitingan';
    font-weight: 700;

    @media screen and (max-width: 768px) {
        font-size: 2.13rem;
      
    }

}