// @import '../../assets/scss/main.scss';

@mixin heading {
    font-size: 4.26rem;
    font-family: 'Kagitingan';
    font-weight: 700;

    @media screen and (max-width: 768px) {
        font-size: 2.13rem;
      
    }

}

@mixin white {
    color: #ffffff;
}

@mixin orange {
    color: #FF6E1F;
}

*{
    background-color: transparent;
}

.scroll-container {
    height: 100vh; /* Full screen height */
    scroll-snap-type: y mandatory; /* scroll vertically and force scrollping */
    overflow-y: scroll; /* Enable vertical scrolling */
    scroll-behavior: smooth; /* Smooth scrolling */
  }
  
  .scroll-section {
    scroll-snap-align: start; /* scroll to the start of each section */
    height: 100%; /* Each section takes up full screen */

    font-size: 2rem;
    background-color: #000000;
    border: 1px solid #000000;
  
    &:nth-child(odd) {
      background-color: #000000;
    }
  }
  


.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    @media screen and (max-width: 768px) {
      object-position: center;
      object-fit: fill;
    }
}




  

  
  

// .video {
//   @media screen and (max-width: 768px) {
//     height: 100vh;

    
//   }
// }